.hero {
    width: 100%;
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../../assets/firstbg.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    color: #efdfb0;
    text-align:  center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
}

/* vndjkvndj */

.explore-btn {
  background-color: #f5fdb5;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.explore-btn:hover {
  background-color: #e8f3a3;
  transform: scale(1.05);
}

.link-content {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.link-content img {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.explore-btn:hover img {
  transform: rotate(180deg);
}
